.ai-buttons-body
{
  margin-left: 250px;
  padding: 50px;
}

.top-buttons-row
{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.top-btn
{
  padding: 8px 18px;
  border: 1px solid #002977;
  background: white;
  border-radius: 20px;
  cursor: pointer;
}

.save-qn-btn 
{
  width: 120px;
  height: 28px;
  border: 1px solid #002977;
  background: white;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.save-qn-btn:hover 
{
  width: 120px;
  height: 28px;
  border: 1px solid #002977;
  background: #002977;
  color: white;
  border-radius: 20px;
}

.rename-btn
{
  border: 1px solid;
  margin-right: 10px;
}

.column
{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ai-main-area
{
  display: flex;
  gap: 30px;
}

.sub-btn
{
  width: 140px;
  height: 32px;
  border: 1px solid #002977;
  background: white;
  border-radius: 20px;
}

.center-panel
{
  width: 600px;
}

.ai-textarea
{
  width: 600px;
  height: 270px;
}

.active-btn
{
  background: #002977;
  color: white;
}