.special-offers-container {
  margin-left: 280px; 
  margin-top: 80px; /* space for header */
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
}

.special-offers-card {
  background-color: #F2F2F2;
  border-radius: 10px;
  padding: 30px 40px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  width: 420px;
}

.special-offers-title {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 30px;
}

.menu-type-section label {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
}

.offer-type-field {
  margin-bottom: 15px;
  margin-top: 20px;
}

.offer-type-field label {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 500;
}

.offer-type-field input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 13px;
}

.type-input-with-plus {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 24px; /* input | icon */
  align-items: center;
  column-gap: 8px;
}


.type-input-with-plus input {
  width: 100%;
  box-sizing: border-box;
}


.add-icon {
  font-size: 22px;
  color: #5396D1;
  cursor: pointer;
}

.add-icon,
.remove-icon {
  font-size: 22px;
  /* color: #5396D1; */
  cursor: pointer;
  text-align: center;
}


.preview-app-section {
  background-color: #002977; /* dark blue */
  border-radius: 50px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.preview-app-label {
  color: white;
  font-weight: 600;
  font-size: 13px;
}

.preview-app-buttons {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

.preview-app-buttons button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  white-space: nowrap;
  border-radius: 20px;
  padding: 5px 14px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.preview-app-buttons button.active {
  background-color: rgba(255, 255, 255, 0.25);
  border-color: #cbd5e1;
}

.preview-app-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

